    <!-- LOADER -->
    <div id="loader-wrapper"></div>

    <!-- HEADER -->
    <header class="type-2">
        <div class="header-wrapper">
            <a id="logo" class="btn" href="/home/index"><img src="<%= image_path 'logo_m.png'%>" alt="" /></a>
            <div class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            
        </div>
        
        <!-- nav bar -->
        <div class="navigation-wrapper">
            <nav>
                <ul>
                    <li>
                        <a class="btn" href="/home/index">Home</a>
                        
                    </li>
                    <li>
                        <a class="btn" href="/home/about" style="font-family:godic">우정스마트베이</a>
                    
                    </li>
                    
                    <li><a class="btn" href="/home/floor" style="font-family:godic">층별 안내</a></li>
                    
                    <li>
                        <a class="btn" href="/home/contact" style="font-family:godic">관심고객 등록문의</a>
                    </li>
                    
                </ul>
            </nav>
        </div>
    </header>


   <div id="content-block">

        <div class="container-fluid wide">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-lg-offset-1">
                    <div class="cell-view full-screen-height text-center">
                        <div class="empty-space col-xs-b20"></div>
                        <article class="sa">
                            <h4 style="font-family: godic">관심 고객 등록</h4>
                            <p style="font-family: godic">우정 스마트베이에서 공간 그 <b>이상의 가치</b>를 만나보세요.</p>
                        </article>
                        <div class="empty-space col-xs-b5 col-sm-b50"></div>
                        <div class="sa col-xs-b10">
                            <b>Tel.:</b> <a href="tel:01000000000">010.0000.0000.</a><br/>
                        </div>
                        <div class="sa col-xs-b10">
                            <b>Adress:</b> 인천광역시 계약구 계약대로 82, 315호 (덕영빌딩) <br/>
                        </div>
                        <div class="sa col-xs-b10">
                            <b>Email:</b> <a href="mailto:guregure13@gmail.com">hsholdings@naver.com</a>
                        </div>
                        <div class="empty-space col-xs-b20"></div>
                        
                        <div class="empty-space col-xs-b25 col-sm-b10"></div>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="simple-input-wrapper">
                                        <input class="simple-input" value="" type="text" placeholder="Name" name="name" />
                                        <span></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="simple-input-wrapper">
                                        <input class="simple-input" value="" type="text" placeholder="Email" name="email" />
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="simple-input-wrapper">
                                <input class="simple-input" value="" type="text" placeholder="Phone" name="phonenum" />
                                <span></span>
                            </div>
                            <div class="simple-input-wrapper">
                                <input class="simple-input" value="" type="text" placeholder="Subject" name="subject" />
                                <span></span>
                            </div>
                            <div class="simple-input-wrapper">
                                <textarea class="simple-input" placeholder="Type your text" name="message"></textarea>
                                <span></span>
                            </div>
                            <div class="empty-space col-xs-b10"></div>
                            <div class="button">submit<input type="submit"/></div>
                        </form>
                        <div class="empty-space col-xs-b30"></div>
                    </div>
                </div>
            </div>

<div class ="map-inst style-1"> <img src="<%= image_path "background_R1" %>"></div> 

<!-- map 
            <div class="map-inst style-1" id="map-canvas" data-lat="37.130201" data-lng="126.796774" data-zoom="15.5"></div>
            <div class="addresses-block hidden" data-rel="map-canvas">
                <a class="marker" data-lat="37.130201" data-lng="126.796774" data-string="guregure13@gmail.com"></a>
            </div>
        </div>
-->


       
       <!-- FOOTER -->
        <footer class="type-1">
            <div class="container">
                <div class="col-xs-text-center">
                    <div class="copyright sa small">&copy;  2017 Knowledge Industry Center <a href="" target="_blank"><b>WooJeong SmartBay</b></a></div>
                </div>
            </div>
        </footer>
    </div>

    </div>

    <div class="phone-marker visible-xs"></div><div class="tablet-marker visible-sm"></div>
    
    
<script src="https://maps.googleapis.com/maps/api/js"></script>

<script>

  
</script>