    <!-- LOADER -->
    <div id="loader-wrapper"></div>

    <!-- HEADER -->
    <header class="type-2">
        <div class="header-wrapper">
            <a id="logo" href="index.html"><img src="<%= image_path 'logo_m.png'%>" alt="" /></a>
            <div class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="follow style-1">
                <a class="entry" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a class="entry" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a class="entry" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                <a class="entry" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>
        
        <!-- nav bar -->
        <div class="navigation-wrapper">
            <nav>
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                        
                    </li>
                    <li>
                        <a href="about.html" style="font-family:godic">우정스마트베이</a>
                    
                    </li>
                    
                    <li><a href="floor.html" style="font-family:godic">층별 안내</a></li>
                    
                    <li>
                        <a href="contact.html" style="font-family:godic">관심고객 등록문의</a>
                    </li>
                    
                </ul>
            </nav>
        </div>
    </header>


   <div id="content-block">

        <div class="container-fluid wide">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-lg-offset-1">
                    <div class="cell-view full-screen-height text-center">
                        <div class="empty-space col-xs-b30"></div>
                        <article class="sa">
                            <h3 style="font-family: godic">관심 고객 등록</h3>
                            <p style="font-family: godic">우정 스마트베이에서 공간 그 <b>이상의 가치</b>를 만나보세요.</p>
                        </article>
                        <div class="empty-space col-xs-b25 col-sm-b50"></div>
                        <div class="sa col-xs-b10">
                            <b>Tel.:</b> <a href="tel:01026329060">010.2632.9060.</a><br/>
                        </div>
                        <div class="sa col-xs-b10">
                            <b>Adress:</b> 우정 스마트 베이 <br/>
                        </div>
                        <div class="sa col-xs-b10">
                            <b>Email:</b> <a href="mailto:guregure13@gmail.com">guregure13@gmail.com</a>
                        </div>
                        <div class="empty-space col-xs-b30"></div>
                        
                        <div class="empty-space col-xs-b25 col-sm-b50"></div>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="simple-input-wrapper">
                                        <input class="simple-input" value="" type="text" placeholder="Name" name="name" />
                                        <span></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="simple-input-wrapper">
                                        <input class="simple-input" value="" type="text" placeholder="Email" name="email" />
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="simple-input-wrapper">
                                <input class="simple-input" value="" type="text" placeholder="Phone" name="phonenum" />
                                <span></span>
                            </div>
                            <div class="simple-input-wrapper">
                                <input class="simple-input" value="" type="text" placeholder="Subject" name="subject" />
                                <span></span>
                            </div>
                            <div class="simple-input-wrapper">
                                <textarea class="simple-input" placeholder="Type your text" name="message"></textarea>
                                <span></span>
                            </div>
                            <div class="empty-space col-xs-b10"></div>
                            <div class="button">submit<input type="submit"/></div>
                        </form>
                        <div class="empty-space col-xs-b30"></div>
                    </div>
                </div>
            </div>

<div class ="map-inst style-1"> <%= image_tag "index/background_R1" %></div>

<!-- map -->
<!--            <div class="map-inst style-1" id="map-canvas" data-lat="34.0151244" data-lng="-118.4729871" data-zoom="14"></div>
            <div class="addresses-block hidden" data-rel="map-canvas">
                <a class="marker" data-lat="34.0151244" data-lng="-118.4729871" data-string="1. Here is some address or email or phone or something else..."></a>
            </div> -->
        </div>



        <!-- FOOTER -->
        <footer class="type-1">
            <div class="container-fluid">
                <div class="col-xs-text-center col-md-text-left">
                    <div class="copyright sa small">&copy;  2017 Knowledge Industry Center <a href="" target="_blank"><b>WooJeong SmartBay</b></a></div>
                    <div class="col-xs-b15 visible-xs visible-sm"></div>
                    <div class="follow style-1">
                        <a class="entry" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a class="entry" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a class="entry" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a class="entry" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div class="phone-marker visible-xs"></div><div class="tablet-marker visible-sm"></div>
